header {
  background-color: whitesmoke;
  box-shadow: 0px 2px 5px #aaaaaa91;
}

img {
  height: 5em;
  margin: 20px;
}

.side-bar {
  width: 20%;
  box-sizing: border-box;
  padding: 1em 2.5em;
  margin: 0.5em;
  float: left;
  border-radius: 0.2em;
  min-height: 41em;
  height: fit-content;
  font-family: sans-serif;
  color: white;
  position: relative;
  background-color: rgb(7, 42, 64);
  box-shadow: 3px 2px 5px #aaaaaabf;
}

.side-bar button {
  background-color: #dddddd61;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 1px 20px;
  cursor: pointer;
  text-transform: none;
  display: block;
  width: 11em;
  height: 2em;
  text-align: left;
  margin: 1em;
  font-size: 18px;
}

.side-bar h2 {
  font-size: 2em;
  margin-bottom: 1em;
}
.side-bar h3 {
  background-color: #ff9000;
  font-size: 1.5em;
  height: 1.5em;
  width: 1.5em;
  border-radius: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0.1em 0.45em;
  position: absolute;
  top: 0.7em;
  left: 12em;
}

.chat-area {
  width: 78.5%;
  float: left;
  margin: 0.5em 0.3em;
  border-radius: 0.2em;
  padding: 0.5em;
  min-height: 41em;
  height: fit-content;
  background-color: rgb(245, 245, 245, 48%);
  box-shadow: 3px 2px 5px #aaaaaabf;
}

#chatRoom {
  background-color: rgba(7, 42, 64, 0.795);
  color: #ff9000;
}

.right-message {
  background-color: rgb(7, 42, 64);
  color: #ff9000;
  float: left;
}

.right-message {
  background-color: #ff9000;
  color: rgb(7, 42, 64);
  float: right;
}

#message-form {
  display: fixed;
  bottom: 0%;
  height: 20%;
}

#messages-area {
  overflow: scroll;
  height: 80%;
  width: 100%;
}
/* 
.chat-area button {
  width: 3em;
  height: 3em;
  background-color: #26262694;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 1px 20px;
  cursor: pointer;
  height: 2em;
  text-align: left;
  margin: 0.1em;
  font-size: 18px;
} */
